main {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.calculator {
    width: 50%;
    border: 3px solid darkgray;
    padding:2%;
    margin-top: 60px;
    background-color: lightgray;
}



.key-spacing {
    padding: 4%;
}

.calculator-dispay {
    height:70px;
    width:85%;
    margin-left: 30px;
}

.calculator-title {
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 15px;
}

#history {
    margin-top: 60px;
    border-right:1px solid lightgray;
    padding: 0;
}

p#text {
    margin-top: 20px;
}

.btn {
    width:100%;
}
