main {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.calculator {
    width: 400px;
    border: 3px solid darkgray;
    padding:2%;
    margin-top: 60px;
    background-color: lightgray;
}



.key-spacing {
    padding: 4%;
}

.calculator-dispay {
    height:80px;
}

.calculator-title {
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 15px;
}

#history {
    margin-top: 60px;
    border-right:1px solid lightgray;
}

p#text {
    margin-top: 20px;
}