a:hover{
    color: #000;
}

body, html {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 13px;
    background-image: url("../img/concrete_wall.png");
}

.site-wrapper {
    width: 100%;

}

.site-wrapper-inner {
    padding:2%;
}

.bg-1 {
    background-color: #2f2f2f;
}

.bg-2 {
    background-image: url("../img/washi.png");
    color: #000;
}

.bg-3 {
    background: url("../img/tweed_@2X.png");
    color: whitesmoke;
}

a {
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
}

.masthead-nav > li {
    display: inline-block;
}

.bottom-panel {
    background-color: #333;
    width: 100%;
    margin-bottom: 0;
}

/** Welcome.html **/
.inner {
    padding: 15%;
}

h1.main{
    text-align: center;
    font-size: 6em;
}

p.main {
    text-align: center;
    font-size: 2em;
}

/** Resume.html **/
.questions {
    font-size: 1.25em;
}

.resume-text {
    font-size: 1.25em;
    text-align: justify;
}

.resume-row {
    padding-top: 5%;
    padding-bottom: 2%;
}

/** Portfolio.html **/
.my-work {
    font-size: 1.25em;
}

.work-text {
    margin-bottom:5em;
}

.work-row {
    padding-bottom: 2.5%;
    padding-top: 5%;
}






