.wrapper {
    margin:0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

body {
    background-color: #333;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.btm-info-field ul {
    list-style-type: none;
    padding:2%;
}

ul li {
    padding:1%;
}

.navbar {
    font-size: 2em;
    background-color: #18bbd0;
    height: 3em;
    width: 100%;
}

.nav-pills {
    padding:3%;
    color: white;
    position: relative;
    top:18px;
}

.banner-bg {
    width: 100%;
    height: 600px;
    margin-top: 0;
    padding-top: 0;
}

h1.banner-name {
    font-size: 3.5em;
    position: relative;
    top:35%;
}

h1.banner-name>small {
    color: whitesmoke;
}

.btm-info-field {
    height:250px;
    background-color: #18bbd0;
    font-size: 1.2em;
}

.myWorkEntry {
    font-size: 1.5em;
    padding: 3%;
}

.myWorkEntry p {
    margin-left: 5%;
}

.myWorkEntry>.col-lg-8 {
    padding-bottom: 5%;
}

.bg-1{
    height: 350px;
    padding-top: 5%;
}

.bg-2 {
    height:220px;
    border-top: 1px solid lightgray;
    padding-top: 5%;
}

.bg-3 {
    padding-top: 5%;
    height:500px;
    background-color: #ff9800;
}

.personal-story {
    font-size: 1.4em;
    text-align: justify;
    margin-top: 2%;
}

.contact-info {
    font-size: 1.6em;
    text-align: left;
}