.fancy-header {

    color: gainsboro;
    text-decoration: underline;
    text-shadow: 0 0 3px black;
}

.less_visible {
    color: antiquewhite;
    text-decoration: dotted;
}
h2 {
    color: darkslategrey;
    font-size: 25px;
}

.quiz {
    color: darkslategrey;
    font-size: 15px;
}